name: Update M3U Playlist

on:
  schedule:
    - cron: '0 * * * *'  # Runs every hour
  workflow_dispatch:      # Allows manual trigger

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Extraction Script
        run: python main.py

      - name: Commit and Push Changes
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions@github.com"
          
          # Check if file exists before committing
          if [ -f playlist.m3u ]; then
            git add playlist.m3u
            # Commit only if there are changes to avoid empty commit errors
            git commit -m "Auto-update playlist [skip ci]" || echo "No changes to commit"
            git push
          else
            echo "Error: playlist.m3u was not created."
            exit 1
          fi
